In [5]:
import pandas as pd
base_claro = pd.read_csv(r"R:\TI\TELEFONIA\Mailings Prontos\2023\Maio\24\Markin 7\respondido cpc/respondidos_fixo_cpc_2405.csv",sep=';')
base_claro


base_net = pd.read_csv(r"R:\TI\TELEFONIA\Mailings Prontos\2023\Maio\24\Markin 7\respondido cpc/respondidos_fixo_cpc_2405.csv",sep=';')
base_net


base_gevenue = pd.read_csv(r"R:\TI\TELEFONIA\Mailings Prontos\2023\Maio\24\Markin 7\respondido cpc/respondidos_fixo_cpc_2405.csv",sep=';')
base_gevenue

,CPF,SALDO_ABERTO_CLARO,ATR_CLAR,DATA,DEVEDOR,NOME,telefone,CARTEIRA
0,35766063865,"543,05",3684,23-05,3168117,luiz,1126531686,FIXO
1,30003156672,"328,69",8274,23-05,1426543,valdivino,31996502793,FIXO
2,7887724732,"342,86",8333,23-05,4757122,ronisvaldo,11984615556,FIXO
3,19185988863,"21,14",5545,23-05,8077683,sr(a),11974942885,FIXO
4,60652705804,"39,88",4084,23-05,14940156,eunice,1139415394,FIXO
...,...,...,...,...,...,...,...,...
251,14460644843,"1378,15",4545,23-05,13719894,paulo,12997613666,FIXO
252,1147265828,"267,74",3805,23-05,4771596,sr.,11970696932,FIXO
253,25499234809,"386,17",4441,23-05,9227430,sr(a),1239052143,FIXO
254,38439751591,"36,55",4075,23-05,19849554,jose,1139666263,FIXO
255,30885944860,"60,37",4293,23-05,13967834,maria,1126217475,FIXO